<!-- Chat Page -->
<div data-role="page" id="page_13_quiz">

    <div data-role="content">

		<div id="quiz" class="container">
		
			<div id="score">
			</div>
			<div id="question">
			</div>
			
			<ol data-role="listview" id="options">
			</ol>
			
			<div id="legend">
				<div id="right">
					<span class="color"></span><span class="text"></span>
				</div>
				<div id="wrong">
					<span class="color"></span><span class="text"></span>
				</div>
				<div id="missed">
					<span class="color"></span><span class="text"></span>
				</div>
			</div>
			
		</div>
	
	</div><!-- /content -->
 
    <div data-role="footer" id="quizFooter" data-position="fixed" data-tap-toggle="false">
	  <button id="submitAnswer" class="ui-btn" data-role="button" data-var="submitAnswer" >
	  </button>
	  <button id="nextQuestion" class="ui-btn" data-role="button"  data-var="next">
	  </button>       
    </div><!-- /footer -->

</div><!-- /page -->