<!-- Chat Page -->
<div data-role="page" id="page_11_chat_rooms" class="type-interior">

  <div data-role="content">

    <div data-role="content">
	 
	 <div class="page-banner" data-var="description"></div>
	 
	 <div class="hspace"></div>
		
     <div class="container">
		<div class="tmpl">
		<a  href="#page_11_chat_messages" data-role="button" data-corners="false" data-id="{{roomId}}" data-context="chat_messages">
		{{roomName}}
		</a>
		</div>
    </div>

  </div><!-- /content -->

</div><!-- /page -->