<!-- Chat Page -->
<div data-role="page" id="page_10_account_settings">

	<div data-role="content">
		<div class="container">
			<a href="#page_10_change_username" data-role="button" data-context="change_username" data-var="changeUsername"></a>			
			
			<a href="#page_10_change_email" data-role="button" data-context="change_email" data-var="changeEmail"></a>				
			
			<a href="#page_10_change_password" data-role="button" data-context="change_password" data-var="changePassword"></a>			
			
			<a href="#page_10_reset_password" data-role="button" data-context="reset_password" data-var="resetPassword"></a>
		</div>
    </div><!-- /content -->

</div><!-- /page -->