<!-- Chat Page -->
<div data-role="page" id="page_11_chat_messages">

    <div data-role="content" class="hasChatMessages">
		<div id="chatMessages" class="container">
		
		<h4><span data-var="room"></span> <span data-var="id"></span></h4>
		
		<div id="top-nav">
		<a class="backBtn" data-role="button" href="#page_11_chat_rooms" data-var="back"></a>
		</div>
		
		<ul id="messageList" class="chat-list">
		</ul>
		
		<div id="messageForm">
		<textarea id="messageContent" rows="3">
		</textarea>
		<button class="ui-btn" id="sendMessageButton" data-role="button" data-var="sendMessage">
		</button>
		</div>
		
		</div>
    </div>

</div><!-- /page -->