<div data-role="page" id="page_1_1" >

    <div data-role="content">
	   <div class="page-banner" data-var="description">
		</div>
	  <div class="news-mask"></div>
		  
		<div class="cards pageblog">
			<div class="nd2-card card-b tmpl">
				<div class="card-title has-supporting-text">
					<h3 class="card-primary-title">
					{{title}}
					</h3>
				</div>

				<div class="card-supporting-text has-title parag">
					{{tbody}}
				</div>

			</div>
		</div>
	
	<div id="quizList" class="container">
	<h2 data-var="quizTitle"></h2>
	</div>

</div>